@font-face {
    font-family: 'Roboto Condensed';
    src: url('./../fonts/roboto-condensed/RobotoCondensed-Regular.ttf');
}
.preview-mode {
    scale: 0.395; /*todo implements scale resolution*/
    border: 0px;
}

.design-mode {
    
}

.paper {
    border: 1px solid black;
    width: 480.1px;
    justify-content: center;
    display: flex;
    height: auto;
}

.printable-area {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 384px; /*my printer have max resoution 384dots total*/
    font-size: 25px;
    font-family: 'Roboto Condensed';
    letter-spacing: -1.8px;
    height: auto;
}

.page-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.editor-wrapper {
    flex:4;
    margin-right: 10px;
}

.result-wrapper {
    flex: 2;
    display: flex;
    justify-content: center;
}

#editor { 
    min-width: 400px;
    width: 100%;
    height: 800px;
}